.data-list {
    width: 80%;
    margin: auto;
    text-align: right;
    .paging {
        margin-top: 20px;
    }
}
.img-dialog {
    width: 300px;
    height: 300px;
}
.img-upload {
    display: inline-block;
    margin-left: 25%;
    margin-top: 40px;
}