.list {
  position: relative;
  text-align: center;
  .list-item {
    position: relative;
    border: 1px solid #eee;
    margin-bottom: 20px;
    min-height: 50px;
    .box-180-50 {
      width: 320px;
      height: 250px; 
    }
  }
}

