.order-form {
    width: 40%;
    position: absolute;
    right: 45%;
    top: 150px;
    .order-form-submit-button {
      width: 100%;
      text-align: right;
      display: flex;
      .submit {
        flex: 1;
        margin: 10px;
      }
      .back {
        flex: 1;
      }
    }
    .order-error-message {
      color: red;
      font-size: .1em;
    }
    .unit {
      width: 100px;
      padding: 20px;
    }
}