.register-form {
    width: 40%;
    position: absolute;
    right: 0;
    top: 200px;
    .register-form-submit-button {
        width: 100%;
    }
    .reg-error-message {
        color: red;
        font-size: .1em;
    }
}