.detail-info-form {
    width: 50%;
    margin-top: 160px;
    margin-left: 20%;
    .button-group {
        text-align: right;
        margin-right: 75px;
    }
    .info-error-message {
        color: red;
        font-size: .1em;
    }
}